.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}

.wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: Consolas;
}
.navbar {
    height: 55px;
    background-color: #4a4a4a;
    opacity: .9;
    clear: both;
    border-bottom: 4px solid #03A9F4;
    width: 100%;
    margin-bottom: 15px;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1226px;
    list-style: none;
}
.navbar .nav>li {
    position: relative;
    float: left;
    margin-right: 1px;
    display: block;
    min-width: 75px;
    width: auto;
    line-height: 20px;
}
.navbar .nav>li a {
    padding: 16px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}



